<div class="container">
	<h2>Buttons With Colors <small>(or custom color)</small></h2>
	<as-button 
		value="Primary"
		bgColor="#3F51B5"
		color="#fff"
		shadow="2"
	></as-button>

	<as-button 
		link="#"
		value="Danger"
		bgColor="#c62828"
		color="#fff"
		shadow="2"
	></as-button>

	<as-button 
		link="#"
		value="Info"
		bgColor="#00ACC1"
		color="#fff"
		shadow="2"
	></as-button>

	<as-button 
		link="#"
		value="Success"
		bgColor="#43A047"
		color="#fff"
		shadow="2"
	></as-button>

	<as-button 
		link="#"
		value="Warning"
		bgColor="#FB8C00"
		color="#fff"
		shadow="2"
	></as-button>
	<br><br>

	<h2>Buttons With Shadows</h2>
	<as-button 
		link="#"
		value="Primary"
		bgColor="#3F51B5"
		color="#fff"
		shadow="1"
	></as-button>

	<as-button 
		link="#"
		value="Danger"
		bgColor="#c62828"
		color="#fff"
		shadow="2"
	></as-button>

	<as-button 
		link="#"
		value="Info"
		bgColor="#00ACC1"
		color="#fff"
		shadow="3"
	></as-button>

	<as-button 
		link="#"
		value="Success"
		bgColor="#43A047"
		color="#fff"
		shadow="4"
	></as-button>

	<as-button 
		link="#"
		value="Warning"
		bgColor="#FB8C00"
		color="#fff"
		shadow="5"
	></as-button>
	<br><br>

	<h2>Buttons With Radius <small>(or custom radius)</small></h2>
	<as-button 
		value="Primary"
		bgColor="#3F51B5"
		borderRadius="5"
	></as-button>

	<as-button 
		value="Danger"
		bgColor="#c62828"
		borderRadius="10"
	></as-button>

	<as-button 
		value="Info"
		bgColor="#00ACC1"
		borderRadius="15"
	></as-button>

	<as-button 
		value="Success"
		bgColor="#43A047"
		borderRadius="20"
	></as-button>

	<as-button 
		value="Warning"
		bgColor="#FB8C00"
		borderRadius="25"
	></as-button>
	<br><br>

	
	<h2>Buttons With Sizes <small>(or custom sizes)</small></h2>
	<as-button 
		link="#"
		value="Primary"
		bgColor="#3F51B5"
		color="#fff"
		shadow="2"
		padding="5,5"
		fontSize="10px"
	></as-button>

	<as-button 
		link="#"
		value="Danger"
		bgColor="#c62828"
		color="#fff"
		shadow="2"
		padding="8,8"
		fontSize="12px"
	></as-button>

	<as-button 
		link="#"
		value="Info"
		bgColor="#00ACC1"
		color="#fff"
		shadow="2"
		padding="10,10"
		fontSize="14px"
	></as-button>

	<as-button 
		link="#"
		value="Success"
		bgColor="#43A047"
		color="#fff"
		shadow="2"
		padding="15,15"
		fontSize="16px"
	></as-button>

	<as-button 
		link="#"
		value="Warning"
		bgColor="#FB8C00"
		color="#fff"
		shadow="2"
		padding="20,20"
		fontSize="18px"
	></as-button>
	<br><br>
</div>